@media (max-width: 680px) {
   .imgPequenas{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 960px;
        gap: 7vh;
        margin-bottom: 25vh;
   }
   .imgPequenas .slots{
      width: 70vw;
     }
   .imgPequenas > .slots > .imgPq1{
      height: 40vh;
   }
   .imgPequenas > .slots > .imgPq2{
      height: 40vh;
   }
   .imgPequenas > .slots > .imgPq3{
      height: 40vh;
   }
   .imgPequenas > .slots > .imgPq1:hover{
      margin-right:10px;
      margin-bottom: 10px;
   }
   .imgPequenas > .slots > .imgPq2:hover{
      margin-right:10px;
      margin-bottom: 10px;
   }
   .imgPequenas > .slots > .imgPq3:hover{
      
      margin-right:10px;
      margin-bottom: 10px;
   }
   .formulario{
      margin-bottom: 20vh;
      margin-top: 10vh;  
   }
   
   .row{
      flex-direction: column;
   }
  
}